.btn {
    cursor: pointer;
}

.btn-primary {
    background-color: #333;
    color: #fff;
}

.btn-primary:hover {
    background-color: #555;
}

.small-card {
    max-width: 350px;
    margin: 0 auto;
}

#logo {
    height: 200px;
}

#photo {
    justify-content: left;
    display: flex;
    height: 200px;
    z-index: 1;
}

#accueil,
h2,
address,
#contact,
#produits {
    text-align: center;
}

#maps {
    width: 100%;
}

#titleHead {
    font-family: 'Great Vibes', cursive;
}

.display-4 {
    font-family: 'Great Vibes', cursive;
}


/*button*/
.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray-600; /* Remplacer $color par la valeur de la couleur */
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darkgrey; /* Remplacer darken($color, 15%) par une couleur plus sombre */
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;

    &:before {
        width: 100%;
    }
}
