.btn {
    cursor: pointer;
}

.btn-primary {
    background-color: #333;
    color: #fff;
}

.btn-primary:hover {
    background-color: #555;
}

.small-card {
    max-width: 350px;
    margin: 0 auto;
}

#logo {
    height: 200px;
}

#photo {
    justify-content: left;
    display: flex;
    height: 200px;
    z-index: 1;
}

#accueil,
h2,
address,
#contact,
#produits {
    text-align: center;
}

#maps {
    width: 100%;
}

#titleHead {
    font-family: 'Great Vibes', cursive;
}

.display-4 {
    font-family: 'Great Vibes', cursive;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    opacity: 0.5;
}

